/* index.html */

body {
	background-color: #EFEFEF;
}

.head {
	background-color: #FFFFFF;
}

.active-sidebar > a {
	color: #FFFFFF;
	background-color: #428bca;
}

.views {
	margin-left: auto;
	margin-right: auto;
	height: 80%;
}

.search-input {
	width: 40%;
	margin-top: 1%;
}

.contributors-list {
	margin-left: 5%;
	margin-right: auto;
	width: 70%;
	margin-top: 2%;
}

/* Signin*/
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
}

/* Home.html */
.col-id {

}

.col-name {

}

.col-username {

}

.col-email {

}

.col-organization {

}

.col-country {

}

.col-start_date {

}

.col-end_date {

}

.col-edit {
	
}