<div class="container">
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<table class="table table-hover account-info" ng-init="active=0">
			<caption>Account Information</caption>
			<tr name="id">
				<th>id</th>
				<td>
					<input class="form-control input-sm" value="{{user.id}}" ng-show="active" readonly/>
					<span ng-show="!active">{{ user.id }}</span>
				</td>	
			</tr>
			<tr name="name">
				<th>Name</th>
				<td>
					<span ng-show="!active">{{ user.name }}</span>
					<input class="form-control input-sm" value="{{user.name}}" ng-show="active"/>
				</td>
			</tr>
			<tr name="username">
				<th>UserName</th>
				<td>
					<span ng-show="!active">{{ user.username }}</span>
					<input class="form-control input-sm" value="{{user.username}}" ng-show="active" />
				</td>
			</tr>
			<tr name="email">
				<th>Email</th>
				<td>
					<span ng-show="!active">{{ user.email }}</span>
					<input class="form-control input-sm" value="{{user.email}}" ng-show="active" />
				</td>
			</tr>
			<tr name="organization">
				<th>Organizarion</th>
				<td>
					<span ng-show="!active">{{ user.organization }}</span>
					<input class="form-control input-sm" value="{{user.organization}}" ng-show="active" />
				</td>
			</tr>
			<tr name="country">
				<th>Country</th>
				<td>
					<span ng-show="!active">{{ user.country }}</span>
					<input class="form-control input-sm" value="{{user.country}}" ng-show="active" />
				</td>
			</tr>
			<tr name="start_date">
				<th>Start Date</th>
				<td>
					<span ng-show="!active">{{ user.start_date }}</span>
					<input class="form-control input-sm" value="{{user.start_date}}" ng-show="active" />
				</td>
			</tr>
			<tr name="end_date">
				<th>End Date</th>
				<td>
					<span ng-show="!active">{{ user.end_date }}</span>
					<input class="form-control input-sm" value="{{user.end_date}}" ng-show="active" />
				</td>
			</tr>
		</table>
		<div class="edit">
			<a href="" class="btn btn-primary btn-sm" ng-click="showEditRow(x)">
				<span>Edit</span>
			</a>
		</div>
	</div>
</div>